

#main {
    margin-left: 700px;
    margin-top: 250px;
    width: 350px;
}

#display {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

#top, #middle, #lower, #last, #clear {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button {
    height: 70px;
    width: 70px;
}

#clearBtn {
    width: 200px;
    color: white;
    background-color: red;
}